@function sharp($repeating, $angle, $stops...) {
  @return sharp-stagger($repeating, "linear", $angle, 0, $stops...);
}

@function sharp-linear($angle, $stops...) {
  @return sharp-stagger(false, "linear", $angle, 0, $stops...);
}

@function sharp-repeating-linear($angle, $stops...) {
  @return sharp-stagger(true, "linear", $angle, 0, $stops...);
}

@function sharp-radial($angle, $stops...) {
  @return sharp-stagger(false, "radial", $angle, 0, $stops...);
}

@function fuzzy-radial($angle, $stops...) {
  @return sharp-stagger(false, "radial", $angle, 1%, $stops...);
}

@function sharp-repeating-radial($angle, $stops...) {
  @return sharp-stagger(true, "radial", $angle, 0, $stops...);
}

@function sharp-stagger($repeating, $type, $angle, $stagger, $stops...) {
  $gradient: ();

  @for $i from 1 through length($stops) {
    $stop: nth($stops, $i);
    $dump: ();

    @if $i > 1 {
      $previous-stop: nth($stops, $i - 1);
      $dump: append($dump, nth($stop, 1) (nth($previous-stop, 2) + $stagger));
      @if $i != length($stops) {
          $dump: append($dump, $stop);
      }
    }
    @else {
      $dump: append($dump, $stop);
    }

    $gradient: join($gradient, $dump, comma);
  }

  @if $type == "radial" {
    @if $repeating {
      @return repeating-radial-gradient($angle, $gradient...);
    }
    @else {
      @return radial-gradient($angle, $gradient...);
    }
  }
  @else {
    @if $repeating {
      @return repeating-linear-gradient($angle, $gradient...);
    }
    @else {
      @return linear-gradient($angle, $gradient...);
    }
  }
}

$tr: transparent;

// https://unindented.org/articles/trigonometry-in-sass/
@function pow($number, $exp) {
  $value: 1;
  @if $exp > 0 {
    @for $i from 1 through $exp {
      $value: $value * $number;
    }
  }
  @else if $exp < 0 {
    @for $i from 1 through -$exp {
      $value: $value / $number;
    }
  }
  @return $value;
}

@function fact($number) {
  $value: 1;
  @if $number > 0 {
    @for $i from 1 through $number {
      $value: $value * $i;
    }
  }
  @return $value;
}

@function pi() {
  @return 3.14159265359;
}

@function rad($angle) {
  $unit: unit($angle);
  $unitless: $angle / ($angle * 0 + 1);
  // If the angle has 'deg' as unit, convert to radians.
  @if $unit == deg {
    $unitless: $unitless / 180 * pi();
  }
  @return $unitless;
}

@function sin($angle) {
  $sin: 0;
  $angle: rad($angle);
  // Iterate a bunch of times.
  @for $i from 0 through 10 {
    $sin: $sin + pow(-1, $i) * pow($angle, (2 * $i + 1)) / fact(2 * $i + 1);
  }
  @return $sin;
}

@function cos($angle) {
  $cos: 0;
  $angle: rad($angle);
  // Iterate a bunch of times.
  @for $i from 0 through 10 {
    $cos: $cos + pow(-1, $i) * pow($angle, 2 * $i) / fact(2 * $i);
  }
  @return $cos;
}

@function tan($angle) {
  @return sin($angle) / cos($angle);
}

/// @link http://lea.verou.me/css3patterns/#honeycomb
/// @param {color} $background-color [#fb1]
/// @param {color} $line-color [#b71]
/// @param {length} $scale [60px]
@mixin honeycomb($background-color: #fb1, $line-color: #b71, $scale: 60px) {
  @if $background-color != #fb1 {
    @if $line-color == #b71 {
      $line-color: darken(adjust-hue(desaturate($background-color, 17%), -7deg), 13%);
    }
  }

  background:
      sharp-radial(circle farthest-side at 0% 50%, $background-color 23.5%, $tr) $scale * 21 / 60 $scale / 2,
      sharp-radial(circle farthest-side at 0% 50%, $line-color 24%, $tr) $scale * 19 / 60 $scale / 2,
      sharp-linear(to bottom, $background-color 14%, $tr 85%, $background-color),
      sharp-linear(150deg, $background-color 24%, $line-color 26%, $tr 74%, $line-color 76%, $background-color),
      sharp-linear(30deg,  $background-color 24%, $line-color 26%, $tr 74%, $line-color 76%, $background-color),
      sharp-linear(90deg, $line-color 2%, $background-color 98%, $line-color);
  background-size: $scale / 1.5 $scale;
  background-color: $background-color;
}

/// @link http://lea.verou.me/css3patterns/#tablecloth
/// @param {color} $color [rgb(200, 0, 0)]
/// @param {color} $background-color [white]
/// @param {length} $scale [50px]
/// @param {opacity} $color-opacity [.5]
/// @param {length} $color-width [50%]
@mixin gingham($color: rgb(200, 0, 0), $background-color: white, $scale: 50px, $color-opacity: .5, $color-width: 50%) {
  $color: rgba($color, $color-opacity);
  $stops: $color $color-width, $tr;
  background-image:
    sharp-linear(90deg, $stops...),
    sharp-linear(0deg,  $stops...);
  background-size: $scale $scale;
  background-color: $background-color;
}

/// @link http://lea.verou.me/css3patterns/#chocolate-weave
/// @param {color} $background-color [#753]
/// @param {length} $scale [25px]
/// @param {color} $first-color [#dca]
/// @param {color} $second-color [#a85]
@mixin weave($background-color: #753, $scale: 25px, $first-color: #dca, $second-color: #a85) {
  @if $background-color != #753 {
    @if $second-color == #a85 {
      $second-color: lighten(adjust-hue(desaturate($background-color, 7%), 6deg), 17%);
    }
    @if $first-color == #dca {
      $first-color: lighten(adjust-hue(saturate($background-color, 3%), 10deg), 44%);
    }
  }
  background-image:
    sharp-linear(45deg, $first-color 12%, $tr 88%, $first-color),
    sharp-linear(135deg, $tr 37%, $second-color 63%, $tr),
    sharp-linear(45deg, $tr 37%, $first-color 63%, $tr);
  background-color: $background-color;
  background-size: $scale $scale;
}

/// @link http://lea.verou.me/css3patterns/#seigaiha
/// @param {color} $color [white]
/// @param {color} $background-color [silver]
/// @param {length} $scale [100px]
@mixin seigaiha($color: white, $background-color: silver, $scale: 100px) {
  background-image:
    radial-gradient(circle at 100% 150%, $background-color 24%, $color 25%, $color 28%, $background-color 29%, $background-color 36%, $color 36%, $color 40%, $tr 40%),
    radial-gradient(circle at 0 150%, $background-color 24%, $color 25%, $color 28%, $background-color 29%, $background-color 36%, $color 36%, $color 40%, $tr 40%),
    radial-gradient(circle at 50% 100%, $color 10%, $background-color 11%, $background-color 23%, $color 24%, $color 30%, $background-color 31%, $background-color 43%, $color 44%, $color 50%, $background-color 51%, $background-color 63%, $color 64%, $color 71%, $tr 71%),
    radial-gradient(circle at 100% 50%, $color 5%, $background-color 6%, $background-color 15%, $color 16%, $color 20%, $background-color 21%, $background-color 30%, $color 31%, $color 35%, $background-color 36%, $background-color 45%, $color 46%, $color 49%, $tr 49%),
    radial-gradient(circle at 0 50%, $color 5%, $background-color 6%, $background-color 15%, $color 16%, $color 20%, $background-color 21%, $background-color 30%, $color 31%, $color 35%, $background-color 36%, $background-color 45%, $color 46%, $color 49%, $tr 49%);
  background-color: $background-color;
  background-size: $scale $scale / 2;
}

/// @link http://lea.verou.me/css3patterns/#japanese-cube
/// @param {color} $background-color [#556]
/// @param {color} $second-color [#445]
/// @param {color} $third-color [#99a]
/// @param {length} $scale [140px]
@mixin cubes($background-color: #556, $second-color: #445, $third-color: #99a, $scale: 140px) {
    @if $background-color != #556 {
      @if $second-color == #445 {
        $second-color: darken(saturate($background-color, 2%), 7%);
      }
      @if $third-color == #99a {
        $third-color: lighten($background-color, 26%);
      }
    }
    $stops: $second-color 12%, $tr 12.5%, $tr 87%, $second-color 87.5%;
    $other-stops: $third-color 25%, $tr 25.5%, $tr 75%, $third-color 75%;
    $long-dim: $scale;
    $short-dim: $scale * 4 / 7;
    background:
      linear-gradient(30deg,  $stops...),
      linear-gradient(150deg, $stops...),
      linear-gradient(30deg,  $stops...) $short-dim / 2 $long-dim / 2,
      linear-gradient(150deg, $stops...) $short-dim / 2 $long-dim / 2,
      linear-gradient(60deg,  $other-stops...),
      linear-gradient(60deg,  $other-stops...) $short-dim / 2 $long-dim / 2;
    background-size: $short-dim $long-dim;
    background-color: $background-color;
}

/// @link http://thenewcode.com/1057/SVG-Patterns-of-Japan
/// @param {color} $line-color [black]
/// @param {color} $background-color [white]
/// @param {length} $scale [140px]
@mixin asanoha($line-color: black, $background-color: white, $scale: 140px) {
    $stops: $background-color 12%, $line-color 13%, $tr 87%, $line-color 88%, $background-color;
    $other-stops: $line-color 1%, $tr 99%, $line-color;
    $other-stops-thinner: $line-color .5%, $tr 99.5%, $line-color;
    $last-stops: $tr 24.5%, $line-color 25.5%, $tr 74.5%, $line-color 75.5%, $tr;
    $long-dim: $scale;
    $short-dim: $scale * 4 / 7;
    background:
      sharp-linear(0deg,   $other-stops-thinner...),
      sharp-linear(0deg,   $other-stops-thinner...) 0 $long-dim / 2,
      sharp-linear(120deg, $last-stops...),
      sharp-linear(60deg,  $last-stops...),
      sharp-linear(30deg,  $stops...),
      sharp-linear(150deg, $stops...),
      sharp-linear(30deg,  $stops...) $short-dim / 2 $long-dim / 2,
      sharp-linear(150deg, $stops...) $short-dim / 2 $long-dim / 2,
      sharp-linear(90deg,  $other-stops...),
      sharp-linear(90deg,  $other-stops...) $short-dim / 2 $long-dim / 2;
    background-size: $short-dim $long-dim;
    background-color: $background-color;
}

/// @link http://lea.verou.me/css3patterns/#marrakesh
/// @param {color} $background-color [white]
/// @param {color} $color [midnightblue]
/// @param {length} $scale [90px] - hint: use a multiple of 3px
/// @param {length} $dot-size [$scale / 10 (9px)]
@mixin marrakesh($background-color: white, $color: midnightblue, $scale: 90px, $dot-size: $scale / 10) {
    @if $dot-size == 9px {
      $dot-size: $scale / 10;
    }
    background-color: $background-color;
    background-image:
      // sharp-stagger(false, "radial", circle, 1, $color 43%, $tr),
      // sharp-stagger(false, "radial", circle, 1, $tr 31.4%, $color 39%, $tr 78%, $color 84%, $tr);
      sharp-stagger(false, "radial", circle, 1, $color $dot-size, $tr),
      sharp-stagger(false, "radial", circle, 1, $tr $scale * 2/9, $color $scale * 25/90, $tr $scale * 5/9, $color $scale * 54/90, $tr);
    background-size: $scale / 3 $scale / 3, $scale $scale
}

/// @link http://lea.verou.me/css3patterns/#diagonal-stripes
/// @param {color} $background-color [gray]
/// @param {color} $stripe-color [rgba(255, 255, 255, .5)]
/// @param {direction} $angle [45deg]
/// @param {length} $scale [70px]
/// @param {length} $stripe-width [$scale / 2 (35px)]
@mixin diagonal-stripes($background-color: gray, $stripe-color: rgba(255, 255, 255, .5), $angle: 45deg, $scale: 70px, $stripe-width: $scale / 2) {
    @if $stripe-width == 35px {
      $stripe-width: $scale / 2;
    }
    background-color: $background-color;
    background-image:
      repeating-linear-gradient($angle, $tr, $tr $scale - $stripe_width, $stripe-color $scale - $stripe_width, $stripe-color $scale);
}

/// @link http://lea.verou.me/css3patterns/#horizontal-stripes
/// @param {color} $background-color [gray]
/// @param {color} $stripe-color [rgba(255, 255, 255, .5)]
/// @param {length} $scale [50px]
/// @param {length} $stripe-width [50%]
@mixin horizontal-stripes($background-color: gray, $stripe-color: rgba(255, 255, 255, .5), $scale: 50px, $stripe-width: 50%) {
    background-color: $background-color;
    background-image:
      sharp-linear(0deg, $tr 100% - $stripe-width, $stripe-color $stripe-width);
    background-size: $scale $scale;
}

/// @link http://lea.verou.me/css3patterns/#vertical-stripes
/// @param {color} $background-color [gray]
/// @param {color} $stripe-color [rgba(255, 255, 255, .5)]
/// @param {length} $scale [50px]
/// @param {length} $stripe-width [50%]
@mixin vertical-stripes($background-color: gray, $stripe-color: rgba(255, 255, 255, .5), $scale: 50px, $stripe-width: 50%) {
    background-color: $background-color;
    background-image:
      sharp-linear(90deg, $tr 100% - $stripe-width, $stripe-color $stripe-width);
    background-size: $scale $scale;
}

/// @link http://lea.verou.me/css3patterns/#microbial-mat
/// @param {color} $background-color [#8a3]
/// @param {color} $line-color [#613]
/// @param {length} $scale [20px]
/// @param {length} $line-thickness [1px]
@mixin microbial-mat($background-color: #8a3, $line-color: #613, $scale: 20px, $line-thickness: 1px) {
    $tr-line-color: rgba($line-color, 0);
    $stops:
      $tr-line-color $scale / 2 - ($line-thickness + 1) / 2,
      $line-color    $scale / 2 - ($line-thickness + 1) / 2 + 1,
      $line-color    $scale / 2 + ($line-thickness + 1) / 2 - 1,
      $tr-line-color $scale / 2 + ($line-thickness + 1) / 2;
    background:
      radial-gradient(circle at 0% 50%,    $stops...) 0px $scale / 2,
      radial-gradient(circle at 100% 100%, $stops...);
    background-color: $background-color;
    background-size: $scale $scale;
}

/// @link http://lea.verou.me/css3patterns/#checkerboard
/// @param {color} $background-color [#eee]
/// @param {color} $color [black]
/// @param {length} $scale [60px]
@mixin checkerboard($background-color: #eee, $color: black, $scale: 60px) {
    $stops: $color 25%, $tr 75%, $color;
    background:
      sharp-linear(45deg, $stops...),
      sharp-linear(45deg, $stops...) $scale / 2 $scale / 2;
    background-color: $background-color;
    background-size: $scale $scale;
}

/// @link http://lea.verou.me/css3patterns/#diagonal-checkerboard
/// @param {color} $background-color [#eee]
/// @param {color} $color [black]
/// @param {length} $scale [60px]
@mixin diagonal-checkerboard($background-color: #eee, $color: black, $scale: 60px) {
    $stops: $color 25%, $tr 75%, $color;
    background:
      sharp-linear(45deg, $stops...),
      sharp-linear(-45deg, $stops...);
    background-color: $background-color;
    background-size: $scale $scale;
}

/// @link http://lea.verou.me/css3patterns/#weave
/// @param {color} $background-color [#708090]
/// @param {color} $line-color [#d9ecff]
/// @param {length} $scale [128px]
/// @param {length} $line-thickness [2px]
@mixin brick-inlay($background-color: #708090, $line-color: #d9ecff, $scale: 128px, $line-thickness: 2px) {
    $stops:
      $background-color ($scale * 23 / 128) - $line-thickness / 2,
      $line-color       ($scale * 23 / 128) + $line-thickness / 2,
      $tr               ($scale * 68 / 128) - $line-thickness / 2,
      $line-color       ($scale * 68 / 128) + $line-thickness / 2,
      $tr;
    background:
      sharp-linear(135deg, $stops...),
      sharp-linear(225deg, $stops...) 0 $scale / 2;
    background-color: $background-color;
    background-size: $scale / 2 $scale;
}

/// @link http://lea.verou.me/css3patterns/#hearts
/// @param {color} $background-color [#b03]
/// @param {color} $color [#d35]
/// @param {length} $scale [100px]
@mixin hearts($background-color: #b03, $color: #d35, $scale: 100px) {
    $tr-color:            rgba($color,            0);
    $tr-background-color: rgba($background-color, 0);
    $heart-gradients:
      radial-gradient(circle closest-side at 60% 43%, $background-color 26%, $tr-background-color 27%),
      radial-gradient(circle closest-side at 40% 43%, $background-color 26%, $tr-background-color 27%),
      radial-gradient(circle closest-side at 40% 22%, $color 45%, $tr-color 46%),
      radial-gradient(circle closest-side at 60% 22%, $color 45%, $tr-color 46%),
      radial-gradient(circle closest-side at 50% 35%, $color 30%, $tr-color 31%);
    background-image:
      $heart-gradients,
      $heart-gradients;
      // radial-gradient(circle closest-side at 60% 43%, $background-color 26%, $tr-background-color 27%),
      // radial-gradient(circle closest-side at 40% 43%, $background-color 26%, $tr-background-color 27%),
      // radial-gradient(circle closest-side at 40% 22%, $color 45%, $tr-color 46%),
      // radial-gradient(circle closest-side at 60% 22%, $color 45%, $tr-color 46%),
      // radial-gradient(circle closest-side at 50% 35%, $color 30%, $tr-color 31%),
      // radial-gradient(circle closest-side at 60% 43%, $background-color 26%, $tr-background-color 27%),
      // radial-gradient(circle closest-side at 40% 43%, $background-color 26%, $tr-background-color 27%),
      // radial-gradient(circle closest-side at 40% 22%, $color 45%, $tr-color 46%),
      // radial-gradient(circle closest-side at 60% 22%, $color 45%, $tr-color 46%),
      // radial-gradient(circle closest-side at 50% 35%, $color 30%, $tr-color 31%);
    background-color: $background-color;
    background-size: $scale $scale;
    background-position: 0 0, 0 0, 0 0, 0 0, 0 0, $scale / 2 $scale / 2, $scale / 2 $scale / 2, $scale / 2 $scale / 2, $scale / 2 $scale / 2, $scale / 2 $scale / 2;
}

/// @link http://lea.verou.me/css3patterns/#arrows
/// @param {color} $background-color [#e1ebbd]
/// @param {color} $color [#92baac]
/// @param {length} $scale [128px]
@mixin arrows($background-color: #e1ebbd, $color: #92baac, $scale: 128px) {
    background:
      sharp-linear(45deg, $color $scale * 45 / 128, $tr) $scale / 2 $scale / 2,
      sharp-linear(45deg, $color $scale * 45 / 128, $tr $scale * 91 / 128, $background-color $scale * 135 / 128, $tr),
      sharp-linear(-45deg, $color $scale * 23 / 128, $tr $scale * 68 / 128, $color $scale * 113 / 128, $tr $scale * 158 / 128, $color);
    background-color: $background-color;
    background-size: $scale $scale;
}

/// @link http://lea.verou.me/css3patterns/#half-rombes
/// @param {color} $background-color [#36c]
/// @param {color} $color [rgba(255, 255, 255, .8)]
/// @param {length} $scale [15px]
@mixin half-rombes($background-color: #36c, $color: rgba(255, 255, 255, .8), $scale: 15px) {
    $stops: $tr 75%, $color;
    background:
      sharp-linear(115deg, $stops...),
      sharp-linear(245deg, $stops...),
      sharp-linear(115deg, $stops...) $scale * 7 / 15 (-$scale),
      sharp-linear(245deg, $stops...) $scale * 7 / 15 (-$scale);
    background-color: $background-color;
    background-size: $scale $scale * 2;
}

/// @link http://lea.verou.me/css3patterns/#polka-dot
/// @param {color} $background-color [#001]
/// @param {color} $color [white]
/// @param {length} $scale [60px]
/// @param {length} $dot-width [15%]
/// @param {color} $ring-color [$background-color (#001)]
/// @param {length} $ring-width [0%]
@mixin polka-dot($background-color: #001, $color: white, $scale: 60px, $dot-width: 15%, $ring-color: $background-color, $ring-width: 0%) {
    // $stops: $color $dot-width, $tr $dot-width + 1%;
    $stops: $color $dot-width, $tr $dot-width + 1%, $tr $dot-width + $ring-width, $tr $dot-width + $ring-width + 1%;
    @if $ring-width > 0% {
      $stops: $color $dot-width, $ring-color $dot-width + 1%, $ring-color $dot-width + $ring-width, $tr $dot-width + $ring-width + 1%;
    }
    background:
      radial-gradient($stops...),
      radial-gradient($stops...) $scale / 2 $scale / 2;
    background-color: $background-color;
    background-size: $scale $scale;
}

/// @link http://lea.verou.me/css3patterns/#blueprint-grid
/// @param {color} $background-color [#269]
/// @param {color} $thick-line-color [white]
/// @param {color} $thin-line-color [rgba($thick-line-color, .3) (rgba(255, 255, 255, .3))]
/// @param {length} $scale [100px]
/// @param {length} $thick-line-thickness [2px]
/// @param {length} $thin-line-thickness [1px]
/// @param {number} $per [5]
@mixin blueprint-grid($background-color: #269, $thick-line-color: white, $thin-line-color: rgba($thick-line-color, .3), $scale: 15px, $thick-line-thickness: 2px, $thin-line-thickness: 1px, $per: 5) {
    background:
      sharp-linear(180deg, $thick-line-color $thick-line-thickness, $tr) -$thick-line-thickness (-$thick-line-thickness),
      sharp-linear(90deg,  $thick-line-color $thick-line-thickness, $tr) -$thick-line-thickness (-$thick-line-thickness),
      sharp-linear(180deg, $thin-line-color $thin-line-thickness, $tr) -$thin-line-thickness (-$thin-line-thickness),
      sharp-linear(90deg,  $thin-line-color $thin-line-thickness, $tr) -$thin-line-thickness (-$thin-line-thickness);
    background-color: $background-color;
    background-size: $scale $scale, $scale $scale, $scale / $per $scale / $per, $scale / $per $scale / $per;
}

/// @link http://lea.verou.me/css3patterns/#lined-paper
/// @param {color} $background-color [white]
/// @param {color} $thick-line-color [#abced4]
/// @param {color} $thin-line-color [#eee]
/// @param {length} $line-separation [1.2em]
/// @param {length} $thick-line-thickness [2px]
/// @param {length} $thin-line-thickness [.1em]
/// @param {length} $margin [79px]
@mixin lined-paper($background-color: white, $thick-line-color: #abced4, $thin-line-color: #eee, $line-separation: 1.2em, $thick-line-thickness: 2px, $thin-line-thickness: .1em, $margin: 79px) {
    background:
      sharp-linear(90deg, $tr $margin, $thick-line-color $margin + $thick-line-thickness, $tr),
      sharp-linear(to bottom, $thin-line-color $thin-line-thickness, $tr);
    background-color: $background-color;
    background-size: 100% $line-separation;
}

/// @link http://lea.verou.me/css3patterns/#steps
/// @param {color} $background-color [#ff7d9d]
/// @param {color} $color [#c90032]
/// @param {length} $scale [58px]
@mixin steps($background-color: #ff7d9d, $color: #c90032, $line-color: #c90032, $scale: 58px) {
    background:
      sharp-linear(335deg, $color $scale * 23 / 58, $tr) 0                $scale * 2  / 58,
      sharp-linear(155deg, $color $scale * 23 / 58, $tr) $scale * 4  / 58 $scale * 35 / 58,
      sharp-linear(335deg, $color $scale * 23 / 58, $tr) $scale * 29 / 58 $scale * 31 / 58,
      sharp-linear(155deg, $color $scale * 23 / 58, $tr) $scale * 33 / 58 $scale * 6  / 58,

      sharp-linear(335deg, $color $scale * 10 / 58, $tr) 0                $scale * 36 / 58,
      sharp-linear(155deg, $color $scale * 10 / 58, $tr) $scale * 4  / 58 $scale * 2  / 58,
      sharp-linear(335deg, $color $scale * 10 / 58, $tr) $scale * 29 / 58 $scale * 6  / 58,
      sharp-linear(155deg, $color $scale * 10 / 58, $tr) $scale * 33 / 58 $scale * 30 / 58;
    background-color: $background-color;
    background-size: $scale $scale;
}

/// @link http://lea.verou.me/css3patterns/#waves
/// @param {color} $background-color [slategray]
/// @param {color} $line-color [rgba(255, 255, 255, .3)]
/// @param {length} $scale [100px]
@mixin waves($background-color: slategray, $line-color: rgba(255, 255, 255, .3), $scale: 100px) {
    $stops: $tr 20%, $line-color 21%, $line-color 34%, $tr 35%;
    background:
      radial-gradient(circle at 100% 50%, $stops...),
      radial-gradient(circle at 0%   50%, $stops...) 0 (-$scale / 2);
    background-color: $background-color;
    background-size: $scale * .75 $scale;
}

/// @link http://lea.verou.me/css3patterns/#cross
/// @param {color} $background-color [slategray]
/// @param {color} $line-color [#a8b1bb]
/// @param {length} $scale [100px]
/// @param {length} $line-width [8px]
/// @param {length} $line-length [20%]
@mixin cross($background-color: slategray, $line-color: #a8b1bb, $scale: 100px, $line-width: 8px, $line-length: 20%) {
    background:
      sharp-radial(circle, $tr $line-length, $background-color 100% - $line-length, $tr),
      sharp-radial(circle, $tr $line-length, $background-color 100% - $line-length, $tr) $scale / 2 $scale / 2,
      sharp-linear(to bottom, $line-color $line-width, $tr) 0 (-$line-width / 2),
      sharp-linear(90deg, $line-color $line-width, $tr) -$line-width / 2 0;
    background-color: $background-color;
    background-size: $scale $scale, $scale $scale, $scale / 2 $scale / 2, $scale / 2 $scale / 2;
}

/// @link http://lea.verou.me/css3patterns/#yin-yang
/// @param {color} $background-color [#63773f]
/// @param {color} $first-color [#d2caab]
/// @param {color} $second-color [#364e27]
/// @param {length} $scale [100px]
/// @param {length} $size [16%]
/// @param {length} $inner-circle-size [3%]
// TODO: @param {direction} $rotation [0deg]
@mixin yin-yang($background-color: #63773f, $first-color: #d2caab, $second-color: #364e27, $scale: 100px, $size: 16%, $inner-circle-size: 3%) {
    $tr-first-color:  rgba($first-color, 0);
    $tr-second-color: rgba($second-color, 0);
    // $rotation-offset-x: sin($rotation) * $size * 9 / 16;
    // $rotation-offset-y: cos($rotation) * $size * 9 / 16;
    background:
      // fuzzy-radial(circle at 50% + $rotation-offset-x 50% + $rotation-offset-y, $first-color  $inner-circle-size, $second-color $size * 11 / 16, $tr-second-color) $scale / 2 0,
      // fuzzy-radial(circle at 50% - $rotation-offset-x 50% - $rotation-offset-y, $second-color $inner-circle-size, $first-color  $size * 11 / 16, $tr-first-color ) $scale / 2 0,
      // fuzzy-radial(circle at 50% + $rotation-offset-x 50% + $rotation-offset-y, $first-color  $inner-circle-size, $second-color $size * 11 / 16, $tr-second-color) 0 $scale / 2,
      // fuzzy-radial(circle at 50% - $rotation-offset-x 50% - $rotation-offset-y, $second-color $inner-circle-size, $first-color  $size * 11 / 16, $tr-first-color ) 0 $scale / 2,
      fuzzy-radial(circle at 50% 50% + $size * 9 / 16, $first-color  $inner-circle-size, $second-color $size * 11 / 16, $tr-second-color) $scale / 2 0,
      fuzzy-radial(circle at 50% 50% - $size * 9 / 16, $second-color $inner-circle-size, $first-color  $size * 11 / 16, $tr-first-color ) $scale / 2 0,
      fuzzy-radial(circle at 50% 50% + $size * 9 / 16, $first-color  $inner-circle-size, $second-color $size * 11 / 16, $tr-second-color) 0 $scale / 2,
      fuzzy-radial(circle at 50% 50% - $size * 9 / 16, $second-color $inner-circle-size, $first-color  $size * 11 / 16, $tr-first-color ) 0 $scale / 2,
      fuzzy-radial(circle at 100% 50%, $first-color  $size, $tr-first-color ),
      fuzzy-radial(circle at 0%   50%, $second-color $size, $tr-second-color),
      fuzzy-radial(circle at 100% 50%, $first-color  $size, $tr-first-color ) $scale / 2 $scale / 2,
      fuzzy-radial(circle at 0%   50%, $second-color $size, $tr-second-color) $scale / 2 $scale / 2;
    background-color: $background-color;
    background-size: $scale $scale;
}

/// @link http://lea.verou.me/css3patterns/#stars
/// @param {color} $background-color [#232927]
/// @param {color} $color [#e3d7bf]
/// @param {length} $scale [100px]
@mixin stars($background-color: #232927, $color: #e3d7bf, $scale: 100px) {
    $star:
      sharp-linear(324deg, $background-color 4%, $tr),
      sharp-linear( 36deg, $background-color 4%, $tr),
      sharp-linear( 72deg, $color 8.5%, $tr),
      sharp-linear(288deg, $color 8.5%, $tr),
      sharp-linear(216deg, $color 7.5%, $tr),
      sharp-linear(144deg, $color 7.5%, $tr);
    background-image:
      $star, $star;
    background-position:
      $scale * -70 / 100 $scale * 43 / 100,
      $scale *  30 / 100 $scale * 43 / 100,
      $scale *  30 / 100 $scale * 43 / 100,
      $scale * -70 / 100 $scale * 43 / 100,
      $scale * -70 / 100 $scale * 23 / 100,
      $scale *  30 / 100 $scale * 23 / 100,
      $scale * -20 / 100 $scale * 93 / 100,
      $scale *  80 / 100 $scale * 93 / 100,
      $scale *  80 / 100 $scale * 93 / 100,
      $scale * -20 / 100 $scale * 93 / 100,
      $scale * -20 / 100 $scale * 73 / 100,
      $scale *  80 / 100 $scale * 73 / 100;
    background-color: $background-color;
    background-size: $scale $scale;
}

/// @link http://lea.verou.me/css3patterns/#shippo
/// @param {color} $background-color [#def]
/// @param {color} $color [rgba(0, 0, 0, .3)]
/// @param {length} $scale [80px]
@mixin shippo($background-color: #def, $color: rgba(0, 0, 0, .3), $scale: 80px) {
    $stops: $tr 98%, $color 99%;
    background:
      radial-gradient(closest-side, $stops...),
      radial-gradient(closest-side, $stops...) $scale / 2 $scale / 2;
    background-color: $background-color;
    background-size: $scale $scale;
}

/// @link http://lea.verou.me/css3patterns/#brady-bunch
/// @param {color} $background-color [#c8d3a7]
/// @param {color} $first-color [#b6cc66]
/// @param {color} $second-color [#edffdb]
/// @param {color} $third-color [#ffffff]
/// @param {color} $fourth-color [#d9e6a7]
/// @param {color} $fifth-color [#798b3c]
/// @param {color} $sixth-color [#e0ead7]
/// @param {length} $scale [110px]
/// @param {length} $start-position [75%]
/// @param {length} $ring-width [9%]
@mixin brady-bunch(
  $background-color: #c8d3a7,
  $first-color: #b6cc66,
  $second-color: #edffdb,
  $third-color: #ffffff,
  $fourth-color: #d9e6a7,
  $fifth-color: #798b3c,
  $sixth-color: #e0ead7,
  $scale: 110px,
  $start-position: 75%,
  $ring-width: 9%
) {
    @if $first-color != #b6cc66 {
      @if $second-color == #edffdb {
        $second-color: lighten(adjust-hue(saturate($first-color, 50%), 17deg), 33%);
      }
      // @if $third-color == #ffffff {
      // }
      @if $fourth-color == #d9e6a7 {
        $fourth-color: lighten(adjust-hue(saturate($first-color, 6%), -1deg), 18%);
      }
      @if $fifth-color == #798b3c {
        $fifth-color: darken(adjust-hue(desaturate($first-color, 10%), 1deg), 21%);
      }
      @if $sixth-color == #e0ead7 {
        $sixth-color: lighten(adjust-hue(desaturate($first-color, 19%), 19deg), 28%);
      }
      @if $background-color == #c8d3a7 {
        $background-color: lighten(adjust-hue(desaturate($first-color, 17%), 2deg), 14%);
      }
    }
    $stops:
      $tr $start-position,
      $first-color  $start-position + $ring-width     + 1%,
      $second-color $start-position + $ring-width * 2 + 1%,
      $third-color  $start-position + $ring-width * 3 + 1%,
      $fourth-color $start-position + $ring-width * 4 + 1%,
      $fifth-color  $start-position + $ring-width * 5 + 1%,
      $third-color  $start-position + $ring-width * 6 + 1%,
      $sixth-color  $start-position + $ring-width * 7 + 2%;
    background:
      fuzzy-radial(closest-side, $stops...),
      fuzzy-radial(closest-side, $stops...) $scale / 2 $scale / 2;
    background-color: $background-color;
    background-size: $scale $scale;
}
