@function sharp-linear-gradient($angle, $stops...) {
  @return sharp-stagger(false, "linear", $angle, 0, $stops...);
}

@function sharp-repeating-linear-gradient($angle, $stops...) {
  @return sharp-stagger(true, "linear", $angle, 0, $stops...);
}

@function sharp-radial-gradient($angle, $stops...) {
  @return sharp-stagger(false, "radial", $angle, 0, $stops...);
}

@function fuzzy-radial-gradient($angle, $stops...) {
  @return sharp-stagger(false, "radial", $angle, 1, $stops...);
}

@function sharp-repeating-radial-gradient($angle, $stops...) {
  @return sharp-stagger(true, "radial", $angle, 0, $stops...);
}

@function is-stop($angle) {
  @if type-of($angle) == 'list' {
    @return type-of(nth($angle, 1)) == 'color';
  }
  @return type-of($angle) == 'color';
}

@function sharp-stagger($repeating, $type, $angle, $stagger, $stops...) {
  $args: ();
  $has-angle: true;

  @if is-stop($angle) {
    $stops: join(append((), $angle, comma), $stops);
    $has-angle: false;
  }

  @for $i from 1 through length($stops) {
    $stop: nth($stops, $i);
    $dump: ();

    @if $i > 1 {
      $previous-stop: nth($stops, $i - 1);
      $dump: append($dump, nth($stop, 1) (nth($previous-stop, 2) + $stagger));
      @if $i != length($stops) or $repeating {
        $dump: append($dump, $stop);
      }
    }
    @else {
      @if $repeating {
        $dump: append($dump, nth($stop, 1) 0);
      }
      $dump: append($dump, $stop);
    }

    $args: join($args, $dump, comma);
  }

  @if $has-angle {
    $args: join(append((), $angle, comma), $args);
  }

  @if $type == "radial" {
    @if $repeating {
      @return repeating-radial-gradient($args...);
    }
    @else {
      @return radial-gradient($args...);
    }
  }
  @else {
    @if $repeating {
      @return repeating-linear-gradient($args...);
    }
    @else {
      @return linear-gradient($args...);
    }
  }
}

$tr: transparent;

// https://unindented.org/articles/trigonometry-in-sass/
@function pow($number, $exp) {
  $value: 1;
  @if $exp > 0 {
    @for $i from 1 through $exp {
      $value: $value * $number;
    }
  }
  @else if $exp < 0 {
    @for $i from 1 through -$exp {
      $value: $value / $number;
    }
  }
  @return $value;
}

@function fact($number) {
  $value: 1;
  @if $number > 0 {
    @for $i from 1 through $number {
      $value: $value * $i;
    }
  }
  @return $value;
}

@function pi() {
  @return 3.14159265359;
}

@function rad($angle) {
  $unit: unit($angle);
  $unitless: $angle / ($angle * 0 + 1);
  // If the angle has 'deg' as unit, convert to radians.
  @if $unit == deg {
    $unitless: $unitless / 180 * pi();
  }
  @return $unitless;
}

@function sin($angle) {
  $sin: 0;
  $angle: rad($angle);
  // Iterate a bunch of times.
  @for $i from 0 through 10 {
    $sin: $sin + pow(-1, $i) * pow($angle, (2 * $i + 1)) / fact(2 * $i + 1);
  }
  @return $sin;
}

@function cos($angle) {
  $cos: 0;
  $angle: rad($angle);
  // Iterate a bunch of times.
  @for $i from 0 through 10 {
    $cos: $cos + pow(-1, $i) * pow($angle, 2 * $i) / fact(2 * $i);
  }
  @return $cos;
}

@function tan($angle) {
  @return sin($angle) / cos($angle);
}

// https://css-tricks.com/snippets/sass/strip-unit-function/
@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}

@function percent-to-decimal($percent) {
  @return strip-unit($percent) / 100;
}

/// @link http://lea.verou.me/css3patterns/#honeycomb
/// @param {color} $background-color [#fb1]
/// @param {color} $line-color [#b71]
/// @param {length} $scale [60px]
@mixin honeycomb($background-color: #fb1, $line-color: #b71, $scale: 60px) {
  @if $background-color != #fb1 {
    @if $line-color == #b71 {
      $line-color: darken(adjust-hue(desaturate($background-color, 17%), -7deg), 13%);
    }
  }

  background-image:
      sharp-radial-gradient(circle farthest-side at 0% 50%, $background-color 23.5%, $tr),
      sharp-radial-gradient(circle farthest-side at 0% 50%, $line-color 24%, $tr),
      sharp-linear-gradient(to bottom, $background-color 14%, $tr 85%, $background-color),
      sharp-linear-gradient(150deg, $background-color 24%, $line-color 26%, $tr 74%, $line-color 76%, $background-color),
      sharp-linear-gradient(30deg,  $background-color 24%, $line-color 26%, $tr 74%, $line-color 76%, $background-color),
      sharp-linear-gradient(90deg, $line-color 2%, $background-color 98%, $line-color);
  background-position:
      $scale * 21 / 60 $scale / 2,
      $scale * 19 / 60 $scale / 2,
      0 0,
      0 0,
      0 0,
      0 0;
  background-size: $scale / 1.5 $scale;
  background-color: $background-color;
}

/// @link http://lea.verou.me/css3patterns/#tablecloth
/// @param {color} $color [rgb(200, 0, 0)]
/// @param {color} $background-color [white]
/// @param {length} $scale [50px]
/// @param {opacity} $color-opacity [.5]
/// @param {length} $color-width [50%]
@mixin gingham($color: rgb(200, 0, 0), $background-color: white, $scale: 50px, $color-opacity: .5, $color-width: 50%) {
  $color: rgba($color, $color-opacity);
  $stops: $color $color-width, $tr;
  background-image:
    sharp-linear-gradient(90deg, $stops...),
    sharp-linear-gradient(0deg,  $stops...);
  background-size: $scale $scale;
  background-color: $background-color;
}

/// @link http://lea.verou.me/css3patterns/#chocolate-weave
/// @param {color} $background-color [#753]
/// @param {length} $scale [25px]
/// @param {color} $first-color [#dca]
/// @param {color} $second-color [#a85]
@mixin weave($background-color: #753, $scale: 25px, $first-color: #dca, $second-color: #a85) {
  @if $background-color != #753 {
    @if $second-color == #a85 {
      $second-color: lighten(adjust-hue(desaturate($background-color, 7%), 6deg), 17%);
    }
    @if $first-color == #dca {
      $first-color: lighten(adjust-hue(saturate($background-color, 3%), 10deg), 44%);
    }
  }
  background-image:
    sharp-linear-gradient(45deg, $first-color 12%, $tr 88%, $first-color),
    sharp-linear-gradient(135deg, $tr 37%, $second-color 63%, $tr),
    sharp-linear-gradient(45deg, $tr 37%, $first-color 63%, $tr);
  background-color: $background-color;
  background-size: $scale $scale;
}

/// @link http://lea.verou.me/css3patterns/#seigaiha
/// @param {color} $color [white]
/// @param {color} $background-color [silver]
/// @param {length} $scale [100px]
@mixin seigaiha($color: white, $background-color: silver, $scale: 100px) {
  background-image:
    radial-gradient(circle at 100% 150%, $background-color 24%, $color 25%, $color 28%, $background-color 29%, $background-color 36%, $color 36%, $color 40%, $tr 40%),
    radial-gradient(circle at 0 150%, $background-color 24%, $color 25%, $color 28%, $background-color 29%, $background-color 36%, $color 36%, $color 40%, $tr 40%),
    radial-gradient(circle at 50% 100%, $color 10%, $background-color 11%, $background-color 23%, $color 24%, $color 30%, $background-color 31%, $background-color 43%, $color 44%, $color 50%, $background-color 51%, $background-color 63%, $color 64%, $color 71%, $tr 71%),
    radial-gradient(circle at 100% 50%, $color 5%, $background-color 6%, $background-color 15%, $color 16%, $color 20%, $background-color 21%, $background-color 30%, $color 31%, $color 35%, $background-color 36%, $background-color 45%, $color 46%, $color 49%, $tr 49%),
    radial-gradient(circle at 0 50%, $color 5%, $background-color 6%, $background-color 15%, $color 16%, $color 20%, $background-color 21%, $background-color 30%, $color 31%, $color 35%, $background-color 36%, $background-color 45%, $color 46%, $color 49%, $tr 49%);
  background-color: $background-color;
  background-size: $scale $scale / 2;
}

/// @link http://lea.verou.me/css3patterns/#japanese-cube
/// @param {color} $background-color [#556]
/// @param {color} $second-color [#445]
/// @param {color} $third-color [#99a]
/// @param {length} $scale [140px]
@mixin cubes($background-color: #556, $second-color: #445, $third-color: #99a, $scale: 140px) {
    @if $background-color != #556 {
      @if $second-color == #445 {
        $second-color: darken(saturate($background-color, 2%), 7%);
      }
      @if $third-color == #99a {
        $third-color: lighten($background-color, 26%);
      }
    }
    $stops: $second-color 12%, $tr 12.5%, $tr 87%, $second-color 87.5%;
    $other-stops: $third-color 25%, $tr 25.5%, $tr 75%, $third-color 75%;
    $long-dim: $scale;
    $short-dim: $scale * 4 / 7;
    background-image:
      linear-gradient(30deg,  $stops...),
      linear-gradient(150deg, $stops...),
      linear-gradient(30deg,  $stops...),
      linear-gradient(150deg, $stops...),
      linear-gradient(60deg,  $other-stops...),
      linear-gradient(60deg,  $other-stops...);
    background-position:
      0 0,
      0 0,
      $short-dim / 2 $long-dim / 2,
      $short-dim / 2 $long-dim / 2,
      0 0,
      $short-dim / 2 $long-dim / 2;
    background-size: $short-dim $long-dim;
    background-color: $background-color;
}

/// @link http://thenewcode.com/1057/SVG-Patterns-of-Japan
/// @param {color} $line-color [black]
/// @param {color} $background-color [white]
/// @param {length} $scale [140px]
@mixin asanoha($line-color: black, $background-color: white, $scale: 140px) {
    $stops: $background-color 12%, $line-color 13%, $tr 87%, $line-color 88%, $background-color;
    $other-stops: $line-color 1%, $tr 99%, $line-color;
    $other-stops-thinner: $line-color .5%, $tr 99.5%, $line-color;
    $last-stops: $tr 24.5%, $line-color 25.5%, $tr 74.5%, $line-color 75.5%, $tr;
    $long-dim: $scale;
    $short-dim: $scale * 4 / 7;
    background-image:
      sharp-linear-gradient(0deg,   $other-stops-thinner...),
      sharp-linear-gradient(0deg,   $other-stops-thinner...),
      sharp-linear-gradient(120deg, $last-stops...),
      sharp-linear-gradient(60deg,  $last-stops...),
      sharp-linear-gradient(30deg,  $stops...),
      sharp-linear-gradient(150deg, $stops...),
      sharp-linear-gradient(30deg,  $stops...),
      sharp-linear-gradient(150deg, $stops...),
      sharp-linear-gradient(90deg,  $other-stops...),
      sharp-linear-gradient(90deg,  $other-stops...);
    background-position:
      0 0,
      0 $long-dim / 2,
      0 0,
      0 0,
      0 0,
      0 0,
      $short-dim / 2 $long-dim / 2,
      $short-dim / 2 $long-dim / 2,
      0 0,
      $short-dim / 2 $long-dim / 2;
    background-size: $short-dim $long-dim;
    background-color: $background-color;
}

/// @link http://lea.verou.me/css3patterns/#marrakesh
/// @param {color} $background-color [white]
/// @param {color} $color [midnightblue]
/// @param {length} $scale [90px] - hint: use a multiple of 3px
/// @param {length} $dot-size [$scale / 10 (9px)]
@mixin marrakesh($background-color: white, $color: midnightblue, $scale: 90px, $dot-size: $scale / 10) {
    @if $dot-size == 9px {
      $dot-size: $scale / 10;
    }
    background-color: $background-color;
    background-image:
      // sharp-stagger(false, "radial", circle, 1, $color 43%, $tr),
      // sharp-stagger(false, "radial", circle, 1, $tr 31.4%, $color 39%, $tr 78%, $color 84%, $tr);
      // sharp-stagger(false, 'radial', circle, 1, $color $dot-size, $tr),
      // sharp-stagger(false, 'radial', circle, 1, $tr $scale * 2/9, $color $scale * 25/90, $tr $scale * 5/9, $color $scale * 54/90, $tr);
      fuzzy-radial-gradient(circle, $color $dot-size, $tr),
      fuzzy-radial-gradient(circle, $tr $scale * 2/9, $color $scale * 25/90, $tr $scale * 5/9, $color $scale * 54/90, $tr);
    background-size: $scale / 3 $scale / 3, $scale $scale
}

/// @link http://lea.verou.me/css3patterns/#diagonal-stripes
/// @param {color} $background-color [gray]
/// @param {color} $stripe-color [rgba(255, 255, 255, .5)]
/// @param {direction} $angle [45deg]
/// @param {length} $scale [70px]
/// @param {length} $stripe-width [$scale / 2 (35px)]
@mixin diagonal-stripes($background-color: gray, $stripe-color: rgba(255, 255, 255, .5), $angle: 45deg, $scale: 70px, $stripe-width: $scale / 2) {
    @if $stripe-width == 35px {
      $stripe-width: $scale / 2;
    }
    background-color: $background-color;
    background-image:
      repeating-linear-gradient($angle, $tr, $tr $scale - $stripe_width, $stripe-color $scale - $stripe_width, $stripe-color $scale);
}

/// @link http://lea.verou.me/css3patterns/#horizontal-stripes
/// @param {color} $background-color [gray]
/// @param {color} $stripe-color [rgba(255, 255, 255, .5)]
/// @param {length} $scale [50px]
/// @param {length} $stripe-width [50%]
@mixin horizontal-stripes($background-color: gray, $stripe-color: rgba(255, 255, 255, .5), $scale: 50px, $stripe-width: 50%) {
    background-color: $background-color;
    background-image:
      sharp-linear-gradient(0deg, $tr 100% - $stripe-width, $stripe-color $stripe-width);
    background-size: $scale $scale;
}

/// @link http://lea.verou.me/css3patterns/#vertical-stripes
/// @param {color} $background-color [gray]
/// @param {color} $stripe-color [rgba(255, 255, 255, .5)]
/// @param {length} $scale [50px]
/// @param {length} $stripe-width [50%]
@mixin vertical-stripes($background-color: gray, $stripe-color: rgba(255, 255, 255, .5), $scale: 50px, $stripe-width: 50%) {
    background-color: $background-color;
    background-image:
      sharp-linear-gradient(90deg, $tr 100% - $stripe-width, $stripe-color $stripe-width);
    background-size: $scale $scale;
}

/// @link http://lea.verou.me/css3patterns/#microbial-mat
/// @param {color} $background-color [#8a3]
/// @param {color} $line-color [#613]
/// @param {length} $scale [20px]
/// @param {length} $line-thickness [1px]
@mixin microbial-mat($background-color: #8a3, $line-color: #613, $scale: 20px, $line-thickness: 1px) {
    $tr-line-color: rgba($line-color, 0);
    $stops:
      $tr-line-color $scale / 2 - ($line-thickness + 1) / 2,
      $line-color    $scale / 2 - ($line-thickness + 1) / 2 + 1,
      $line-color    $scale / 2 + ($line-thickness + 1) / 2 - 1,
      $tr-line-color $scale / 2 + ($line-thickness + 1) / 2;
    background-image:
      radial-gradient(circle at 0% 50%,    $stops...),
      radial-gradient(circle at 100% 100%, $stops...);
    background-position:
      0px $scale / 2,
      0 0;
    background-color: $background-color;
    background-size: $scale $scale;
}

/// @link http://lea.verou.me/css3patterns/#checkerboard
/// @param {color} $background-color [#eee]
/// @param {color} $color [black]
/// @param {length} $scale [60px]
@mixin checkerboard($background-color: #eee, $color: black, $scale: 60px) {
    $stops: $color 25%, $tr 75%, $color;
    background-image:
      sharp-linear-gradient(45deg, $stops...),
      sharp-linear-gradient(45deg, $stops...);
    background-position:
      0 0,
      $scale / 2 $scale / 2;
    background-color: $background-color;
    background-size: $scale $scale;
}

/// @link http://lea.verou.me/css3patterns/#diagonal-checkerboard
/// @param {color} $background-color [#eee]
/// @param {color} $color [black]
/// @param {length} $scale [60px]
@mixin diagonal-checkerboard($background-color: #eee, $color: black, $scale: 60px) {
    $stops: $color 25%, $tr 75%, $color;
    background-image:
      sharp-linear-gradient(45deg, $stops...),
      sharp-linear-gradient(-45deg, $stops...);
    background-color: $background-color;
    background-size: $scale $scale;
}

/// @link http://lea.verou.me/css3patterns/#weave
/// @param {color} $background-color [#708090]
/// @param {color} $line-color [#d9ecff]
/// @param {length} $scale [128px]
/// @param {length} $line-thickness [2px]
@mixin brick-inlay($background-color: #708090, $line-color: #d9ecff, $scale: 128px, $line-thickness: 2px) {
    $stops:
      $background-color ($scale * 23 / 128) - $line-thickness / 2,
      $line-color       ($scale * 23 / 128) + $line-thickness / 2,
      $tr               ($scale * 68 / 128) - $line-thickness / 2,
      $line-color       ($scale * 68 / 128) + $line-thickness / 2,
      $tr;
    background-image:
      sharp-linear-gradient(135deg, $stops...),
      sharp-linear-gradient(225deg, $stops...);
    background-position:
      0 0,
      0 $scale / 2;
    background-color: $background-color;
    background-size: $scale / 2 $scale;
}

/// @link http://lea.verou.me/css3patterns/#hearts
/// @param {color} $background-color [#b03]
/// @param {color} $color [#d35]
/// @param {length} $scale [100px]
@mixin hearts($background-color: #b03, $color: #d35, $scale: 100px) {
    $tr-color:            rgba($color,            0);
    $tr-background-color: rgba($background-color, 0);
    $heart-gradients:
      fuzzy-radial-gradient(circle closest-side at 60% 43%, $background-color 26%, $tr-background-color),
      fuzzy-radial-gradient(circle closest-side at 40% 43%, $background-color 26%, $tr-background-color),
      fuzzy-radial-gradient(circle closest-side at 40% 22%, $color 45%, $tr-color),
      fuzzy-radial-gradient(circle closest-side at 60% 22%, $color 45%, $tr-color),
      fuzzy-radial-gradient(circle closest-side at 50% 35%, $color 30%, $tr-color);
    background-image:
      $heart-gradients,
      $heart-gradients;
    background-color: $background-color;
    background-size: $scale $scale;
    background-position: 0 0, 0 0, 0 0, 0 0, 0 0, $scale / 2 $scale / 2, $scale / 2 $scale / 2, $scale / 2 $scale / 2, $scale / 2 $scale / 2, $scale / 2 $scale / 2;
}

/// @link http://lea.verou.me/css3patterns/#arrows
/// @param {color} $background-color [#e1ebbd]
/// @param {color} $color [#92baac]
/// @param {length} $scale [128px]
@mixin arrows($background-color: #e1ebbd, $color: #92baac, $scale: 128px) {
    background-image:
      sharp-linear-gradient(45deg, $color $scale * 45 / 128, $tr),
      sharp-linear-gradient(45deg, $color $scale * 45 / 128, $tr $scale * 91 / 128, $background-color $scale * 135 / 128, $tr),
      sharp-linear-gradient(-45deg, $color $scale * 23 / 128, $tr $scale * 68 / 128, $color $scale * 113 / 128, $tr $scale * 158 / 128, $color);
    background-position:
      $scale / 2 $scale / 2,
      0 0,
      0 0;
    background-color: $background-color;
    background-size: $scale $scale;
}

/// @link http://lea.verou.me/css3patterns/#half-rombes
/// @param {color} $background-color [#36c]
/// @param {color} $color [rgba(255, 255, 255, .8)]
/// @param {length} $scale [15px]
@mixin half-rombes($background-color: #36c, $color: rgba(255, 255, 255, .8), $scale: 15px) {
    $stops: $tr 75%, $color;
    background-image:
      sharp-linear-gradient(115deg, $stops...),
      sharp-linear-gradient(245deg, $stops...),
      sharp-linear-gradient(115deg, $stops...),
      sharp-linear-gradient(245deg, $stops...);
    background-position:
      0 0,
      0 0,
      $scale * 7 / 15 (-$scale),
      $scale * 7 / 15 (-$scale);
    background-color: $background-color;
    background-size: $scale $scale * 2;
}

/// @link http://lea.verou.me/css3patterns/#polka-dot
/// @param {color} $background-color [#001]
/// @param {color} $dot-color [white]
/// @param {length} $scale [60px]
/// @param {length} $dot-width [15%]
/// @param {color} $ring-color [$background-color (#001)]
/// @param {length} $ring-width [0%]
@mixin polka-dot($background-color: #001, $dot-color: white, $scale: 60px, $dot-width: 15%, $ring-color: $background-color, $ring-width: 0%) {
    // $stops: $color $dot-width, $tr $dot-width + 1%;
    $stops: $dot-color $dot-width, $tr $dot-width + 1%, $tr $dot-width + $ring-width + 1%, $tr $dot-width + $ring-width + 1%;
    @if $ring-width > 0% {
      $stops: $dot-color $dot-width, $ring-color $dot-width + 1%, $ring-color $dot-width + $ring-width, $tr $dot-width + $ring-width + 1%;
    }
    background-image:
      radial-gradient($stops...),
      radial-gradient($stops...);
    background-position:
      0 0,
      $scale / 2 $scale / 2;
    background-color: $background-color;
    background-size: $scale $scale;
}

/// @link http://lea.verou.me/css3patterns/#blueprint-grid
/// @param {color} $background-color [#269]
/// @param {color} $thick-line-color [white]
/// @param {color} $thin-line-color [rgba($thick-line-color, .3) (rgba(255, 255, 255, .3))]
/// @param {length} $scale [100px]
/// @param {length} $thick-line-thickness [2px]
/// @param {length} $thin-line-thickness [1px]
/// @param {number} $per [5]
@mixin blueprint-grid($background-color: #269, $thick-line-color: white, $thin-line-color: rgba($thick-line-color, .3), $scale: 15px, $thick-line-thickness: 2px, $thin-line-thickness: 1px, $per: 5) {
    background-image:
      sharp-linear-gradient(180deg, $thick-line-color $thick-line-thickness, $tr),
      sharp-linear-gradient(90deg,  $thick-line-color $thick-line-thickness, $tr),
      sharp-linear-gradient(180deg, $thin-line-color  $thin-line-thickness,  $tr),
      sharp-linear-gradient(90deg,  $thin-line-color  $thin-line-thickness,  $tr);
    background-position:
      -$thick-line-thickness (-$thick-line-thickness),
      -$thick-line-thickness (-$thick-line-thickness),
      -$thin-line-thickness (-$thin-line-thickness),
      -$thin-line-thickness (-$thin-line-thickness);
    background-color: $background-color;
    background-size: $scale $scale, $scale $scale, $scale / $per $scale / $per, $scale / $per $scale / $per;
}

/// @link http://lea.verou.me/css3patterns/#lined-paper
/// @param {color} $background-color [white]
/// @param {color} $thick-line-color [#abced4]
/// @param {color} $thin-line-color [#eee]
/// @param {length} $line-separation [1.2em]
/// @param {length} $thick-line-thickness [2px]
/// @param {length} $thin-line-thickness [.1em]
/// @param {length} $margin [79px]
@mixin lined-paper($background-color: white, $thick-line-color: #abced4, $thin-line-color: #eee, $line-separation: 1.2em, $thick-line-thickness: 2px, $thin-line-thickness: .1em, $margin: 79px) {
    background-image:
      sharp-linear-gradient(90deg, $tr $margin, $thick-line-color $margin + $thick-line-thickness, $tr),
      sharp-linear-gradient($thin-line-color $thin-line-thickness, $tr);
    background-color: $background-color;
    background-size: 100% $line-separation;
}

/// @link http://lea.verou.me/css3patterns/#steps
/// @param {color} $background-color [#ff7d9d]
/// @param {color} $color [#c90032]
/// @param {length} $scale [58px]
@mixin steps($background-color: #ff7d9d, $color: #c90032, $line-color: #c90032, $scale: 58px) {
    background-image:
      sharp-linear-gradient(335deg, $color $scale * 23 / 58, $tr),
      sharp-linear-gradient(155deg, $color $scale * 23 / 58, $tr),
      sharp-linear-gradient(335deg, $color $scale * 23 / 58, $tr),
      sharp-linear-gradient(155deg, $color $scale * 23 / 58, $tr),

      sharp-linear-gradient(335deg, $color $scale * 10 / 58, $tr),
      sharp-linear-gradient(155deg, $color $scale * 10 / 58, $tr),
      sharp-linear-gradient(335deg, $color $scale * 10 / 58, $tr),
      sharp-linear-gradient(155deg, $color $scale * 10 / 58, $tr);
    background-position:
      0                $scale * 2  / 58,
      $scale * 4  / 58 $scale * 35 / 58,
      $scale * 29 / 58 $scale * 31 / 58,
      $scale * 33 / 58 $scale * 6  / 58,

      0                $scale * 36 / 58,
      $scale * 4  / 58 $scale * 2  / 58,
      $scale * 29 / 58 $scale * 6  / 58,
      $scale * 33 / 58 $scale * 30 / 58;
    background-color: $background-color;
    background-size: $scale $scale;
}

/// @link http://lea.verou.me/css3patterns/#waves
/// @param {color} $background-color [slategray]
/// @param {color} $line-color [rgba(255, 255, 255, .3)]
/// @param {length} $scale [100px]
@mixin waves($background-color: slategray, $line-color: rgba(255, 255, 255, .3), $scale: 100px) {
    $stops: $tr 20%, $line-color 34%, $tr;
    background-image:
      fuzzy-radial-gradient(circle at 100% 50%, $stops...),
      fuzzy-radial-gradient(circle at 0%   50%, $stops...);
    background-position:
      0 0,
      0 (-$scale / 2);
    background-color: $background-color;
    background-size: $scale * .75 $scale;
}

/// @link http://lea.verou.me/css3patterns/#cross
/// @param {color} $background-color [slategray]
/// @param {color} $line-color [#a8b1bb]
/// @param {length} $scale [100px]
/// @param {length} $line-width [8px]
/// @param {length} $line-length [20%]
@mixin cross($background-color: slategray, $line-color: #a8b1bb, $scale: 100px, $line-width: 8px, $line-length: 20%) {
    background-image:
      sharp-radial-gradient(circle, $tr $line-length, $background-color 100% - $line-length, $tr),
      sharp-radial-gradient(circle, $tr $line-length, $background-color 100% - $line-length, $tr),
      sharp-linear-gradient(to bottom, $line-color $line-width, $tr),
      sharp-linear-gradient(90deg, $line-color $line-width, $tr);
    background-position:
      0 0,
      $scale / 2 $scale / 2,
      0 (-$line-width / 2),
      -$line-width / 2 0;
    background-color: $background-color;
    background-size: $scale $scale, $scale $scale, $scale / 2 $scale / 2, $scale / 2 $scale / 2;
}

/// @link http://lea.verou.me/css3patterns/#yin-yang
/// @param {color} $background-color [#63773f]
/// @param {color} $first-color [#d2caab]
/// @param {color} $second-color [#364e27]
/// @param {length} $scale [100px]
/// @param {length} $size [16%]
/// @param {length} $inner-circle-size [3%]
// TODO: @param {direction} $rotation [0deg]
@mixin yin-yang($background-color: #63773f, $first-color: #d2caab, $second-color: #364e27, $scale: 100px, $size: 16%, $inner-circle-size: 3%) {
    $tr-first-color:  rgba($first-color, 0);
    $tr-second-color: rgba($second-color, 0);
    // $rotation-offset-x: sin($rotation) * $size * 9 / 16;
    // $rotation-offset-y: cos($rotation) * $size * 9 / 16;
    background-image:
      // fuzzy-radial(circle at 50% + $rotation-offset-x 50% + $rotation-offset-y, $first-color  $inner-circle-size, $second-color $size * 11 / 16, $tr-second-color) $scale / 2 0,
      // fuzzy-radial(circle at 50% - $rotation-offset-x 50% - $rotation-offset-y, $second-color $inner-circle-size, $first-color  $size * 11 / 16, $tr-first-color ) $scale / 2 0,
      // fuzzy-radial(circle at 50% + $rotation-offset-x 50% + $rotation-offset-y, $first-color  $inner-circle-size, $second-color $size * 11 / 16, $tr-second-color) 0 $scale / 2,
      // fuzzy-radial(circle at 50% - $rotation-offset-x 50% - $rotation-offset-y, $second-color $inner-circle-size, $first-color  $size * 11 / 16, $tr-first-color ) 0 $scale / 2,
      fuzzy-radial-gradient(circle at 50% 50% + $size * 9 / 16, $first-color  $inner-circle-size, $second-color $size * 11 / 16, $tr-second-color),
      fuzzy-radial-gradient(circle at 50% 50% - $size * 9 / 16, $second-color $inner-circle-size, $first-color  $size * 11 / 16, $tr-first-color ),
      fuzzy-radial-gradient(circle at 50% 50% + $size * 9 / 16, $first-color  $inner-circle-size, $second-color $size * 11 / 16, $tr-second-color),
      fuzzy-radial-gradient(circle at 50% 50% - $size * 9 / 16, $second-color $inner-circle-size, $first-color  $size * 11 / 16, $tr-first-color ),
      fuzzy-radial-gradient(circle at 100% 50%, $first-color  $size, $tr-first-color ),
      fuzzy-radial-gradient(circle at 0%   50%, $second-color $size, $tr-second-color),
      fuzzy-radial-gradient(circle at 100% 50%, $first-color  $size, $tr-first-color ),
      fuzzy-radial-gradient(circle at 0%   50%, $second-color $size, $tr-second-color);
    background-position:
      $scale / 2 0,
      $scale / 2 0,
      0 $scale / 2,
      0 $scale / 2,
      0 0,
      0 0,
      $scale / 2 $scale / 2,
      $scale / 2 $scale / 2;
    background-color: $background-color;
    background-size: $scale $scale;
}

/// @link http://lea.verou.me/css3patterns/#stars
/// @param {color} $background-color [#232927]
/// @param {color} $color [#e3d7bf]
/// @param {length} $scale [100px]
/// @param {length} $star-size [8.5%]
/// @param {boolean} $staggered-row [true]
@mixin stars($background-color: #232927, $color: #e3d7bf, $scale: 100px, $star-size: 8.5%, $staggered-row: true) {
    $offset: 20 + (strip-unit($star-size / 8.5) - 1) * 20;
    $star:
      sharp-linear-gradient(324deg, $background-color $star-size * 4 / 8.5, $tr),
      sharp-linear-gradient( 36deg, $background-color $star-size * 4 / 8.5, $tr),
      sharp-linear-gradient( 72deg, $color $star-size, $tr),
      sharp-linear-gradient(288deg, $color $star-size, $tr),
      sharp-linear-gradient(216deg, $color $star-size * 7.5 / 8.5, $tr),
      sharp-linear-gradient(144deg, $color $star-size * 7.5 / 8.5, $tr);
    @if $staggered-row {
      background-image:
        $star, $star;
      background-position:
        $scale * -70 / 100 $scale * 43 / 100,
        $scale *  30 / 100 $scale * 43 / 100,
        $scale *  30 / 100 $scale * 43 / 100,
        $scale * -70 / 100 $scale * 43 / 100,
        $scale * -70 / 100 $scale * (43 - $offset) / 100,
        $scale *  30 / 100 $scale * (43 - $offset) / 100,
        $scale * -20 / 100 $scale * 93 / 100,
        $scale *  80 / 100 $scale * 93 / 100,
        $scale *  80 / 100 $scale * 93 / 100,
        $scale * -20 / 100 $scale * 93 / 100,
        $scale * -20 / 100 $scale * (93 - $offset)/ 100,
        $scale *  80 / 100 $scale * (93 - $offset)/ 100;
    } @else {
      background-image:
        $star;
      background-position:
        $scale * -70 / 100 $scale * 43 / 100,
        $scale *  30 / 100 $scale * 43 / 100,
        $scale *  30 / 100 $scale * 43 / 100,
        $scale * -70 / 100 $scale * 43 / 100,
        $scale * -70 / 100 $scale * (43 - $offset) / 100,
        $scale *  30 / 100 $scale * (43 - $offset) / 100;
    }
    background-color: $background-color;
    background-size: $scale $scale;
}

/// @link http://lea.verou.me/css3patterns/#shippo
/// @param {color} $background-color [#def]
/// @param {color} $color [rgba(0, 0, 0, .3)]
/// @param {length} $scale [80px]
@mixin shippo($background-color: #def, $color: rgba(0, 0, 0, .3), $scale: 80px) {
    $stops: $tr 98%, $color;
    background-image:
      fuzzy-radial-gradient(closest-side, $stops...),
      fuzzy-radial-gradient(closest-side, $stops...);
    background-position:
      0 0,
      $scale / 2 $scale / 2;
    background-color: $background-color;
    background-size: $scale $scale;
}

/// @link http://lea.verou.me/css3patterns/#brady-bunch
/// @param {color} $background-color [#c8d3a7]
/// @param {color} $first-color [#b6cc66]
/// @param {color} $second-color [#edffdb]
/// @param {color} $third-color [#ffffff]
/// @param {color} $fourth-color [#d9e6a7]
/// @param {color} $fifth-color [#798b3c]
/// @param {color} $sixth-color [#e0ead7]
/// @param {length} $scale [110px]
/// @param {length} $start-position [75%]
/// @param {length} $ring-width [9%]
@mixin brady-bunch(
  $background-color: #c8d3a7,
  $first-color: #b6cc66,
  $second-color: #edffdb,
  $third-color: #ffffff,
  $fourth-color: #d9e6a7,
  $fifth-color: #798b3c,
  $sixth-color: #e0ead7,
  $scale: 110px,
  $start-position: 75%,
  $ring-width: 9%
) {
    @if $first-color != #b6cc66 {
      @if $second-color == #edffdb {
        $second-color: lighten(adjust-hue(saturate($first-color, 50%), 17deg), 33%);
      }
      // @if $third-color == #ffffff {
      // }
      @if $fourth-color == #d9e6a7 {
        $fourth-color: lighten(adjust-hue(saturate($first-color, 6%), -1deg), 18%);
      }
      @if $fifth-color == #798b3c {
        $fifth-color: darken(adjust-hue(desaturate($first-color, 10%), 1deg), 21%);
      }
      @if $sixth-color == #e0ead7 {
        $sixth-color: lighten(adjust-hue(desaturate($first-color, 19%), 19deg), 28%);
      }
      @if $background-color == #c8d3a7 {
        $background-color: lighten(adjust-hue(desaturate($first-color, 17%), 2deg), 14%);
      }
    }
    $stops:
      $tr $start-position,
      $first-color  $start-position + $ring-width     + 1%,
      $second-color $start-position + $ring-width * 2 + 1%,
      $third-color  $start-position + $ring-width * 3 + 1%,
      $fourth-color $start-position + $ring-width * 4 + 1%,
      $fifth-color  $start-position + $ring-width * 5 + 1%,
      $third-color  $start-position + $ring-width * 6 + 1%,
      $sixth-color  $start-position + $ring-width * 7 + 2%;
    background-image:
      fuzzy-radial-gradient(closest-side, $stops...),
      fuzzy-radial-gradient(closest-side, $stops...);
    background-position:
      0 0,
      $scale / 2 $scale / 2;
    background-color: $background-color;
    background-size: $scale $scale;
}

/// @link http://bennettfeely.com/gradients/
/// @group blend-modes
/// @param {color} $background-color [blanchedalmond]
/// @param {color} $first-color [beige]
/// @param {color} $second-color [khaki]
/// @param {color} $third-color [navajowhite]
/// @param {color} $fourth-color [peachpuff]
/// @param {color} $fifth-color [palegoldenrod]
/// @param {length} $scale [10em]
@mixin gummi-worms(
  $background-color: blanchedalmond,
  $first-color: beige,
  $second-color: khaki,
  $third-color: navajowhite,
  $fourth-color: peachpuff,
  $fifth-color: palegoldenrod,
  $scale: 10em
) {
    $single-width: $scale / 5;
    $stops:
      $tr           $single-width,
      $first-color  $single-width * 2,
      $tr           $single-width * 3,
      $second-color $single-width * 4,
      $tr;
    background-image:
      sharp-radial-gradient(circle at bottom left, $stops...),
      sharp-radial-gradient(circle at top right,   $stops...),
      sharp-radial-gradient(circle at top left,
        $tr           $single-width,
        $third-color  $single-width * 2,
        $tr           $single-width * 3,
        $fourth-color $single-width * 4,
        $tr
      ),
      sharp-radial-gradient(circle at bottom right,
        $tr           $single-width,
        $fifth-color  $single-width * 2,
        $tr           $single-width * 3,
        $fourth-color $single-width * 4,
        $tr
      );
    background-position:
      0 0,
      0 0,
      $scale / 2 $scale / 2,
      $scale / 2 $scale / 2;
    background-color: $background-color;
    background-size: $scale $scale;
    background-blend-mode: multiply;
}

/// @link http://bennettfeely.com/gradients/
/// @group blend-modes
/// @param {color} $background-color [floralwhite]
/// @param {color} $first-color [tomato]
/// @param {color} $second-color [dodgerblue]
/// @param {color} $line-color [gold]
/// @param {length} $scale [10em]
/// @param {length} $ring-start [$scale * .35 (3.5em)]
/// @param {length} $ring-width [$scale / 10 (1em)]
/// @param {length} $line-start [$scale / 4 (2.5em)]
/// @param {length} $line-width [$scale * .025 (.25em)]
/// @param {length} $outer-line-start [$line-start * 2 + $line-width (5.25em)]
/// @param {length} $outer-line-width [$line-width (.25em)]
@mixin o-rings(
  $background-color: floralwhite,
  $first-color: tomato,
  $second-color: dodgerblue,
  $line-color: gold,
  $scale: 10em,
  $ring-start: $scale * .35,
  $ring-width: $scale / 10,
  $line-start: $scale / 4,
  $line-width: $scale * .025,
  $outer-line-start: $line-start * 2 + $line-width,
  $outer-line-width: $line-width
) {
    background-image:
      sharp-radial-gradient(circle, $tr $ring-start, $first-color  $ring-start + $ring-width, $tr),
      sharp-radial-gradient(circle, $tr $ring-start, $second-color $ring-start + $ring-width, $tr),
      sharp-radial-gradient(circle, $tr $line-start, $line-color $line-start + $line-width, $tr $outer-line-start, $line-color $outer-line-start + $outer-line-width, $tr);
    background-position:
      0 0,
      $scale / 2 $scale / 2,
      $scale $scale / 2;
    background-color: $background-color;
    background-size: $scale $scale;
    background-blend-mode: multiply;
}

/// @link http://bennettfeely.com/gradients/
/// @group blend-modes
/// @param {color} $background-color [white]
/// @param {color} $first-color [beige]
/// @param {color} $second-color [wheat]
/// @param {color} $third-color [moccasin]
/// @param {length} $scale [6em]
/// @param {direction} $angle [to top left]
/// @param {direction} $other-angle [to left]
@mixin slanted-stripes(
  $background-color: white,
  $first-color: beige,
  $second-color: wheat,
  $third-color: moccasin,
  $scale: 6em,
  $angle: to top left,
  $other-angle: to left,
) {
    $single-width: $scale / 3;
    background-image:
      sharp-repeating-linear-gradient($angle, $first-color $single-width, $third-color $single-width * 2, $second-color $single-width * 3),
      sharp-repeating-linear-gradient($other-angle, $background-color $single-width, $second-color $single-width * 2, $first-color $single-width * 3);
    background-color: $background-color;
    background-blend-mode: multiply;
}

/// @link http://bennettfeely.com/gradients/
/// @group blend-modes
/// @param {color} $first-color [#f7a37b]
/// @param {color} $second-color [#ffdea8]
/// @param {color} $third-color [#d0e4b0]
/// @param {color} $fourth-color [#7cc5d0]
/// @param {color} $fifth-color [#00a2e1]
/// @param {color} $sixth-color [#0085c8]
/// @param {direction} $angle [50deg]
/// @param {length} $scale [6em]
@mixin diamonds(
  $first-color: #f7a37b,
  $second-color: #ffdea8,
  $third-color: #d0e4b0,
  $fourth-color: #7cc5d0,
  $fifth-color: #00a2e1,
  $sixth-color: #0085c8,
  $angle: 50deg,
  $scale: 6em
) {
    $single-width: $scale / 6;
    $stops:
      $first-color  $single-width,
      $second-color $single-width * 2,
      $third-color  $single-width * 3,
      $fourth-color $single-width * 4,
      $fifth-color  $single-width * 5,
      $sixth-color  $single-width * 6;
    background-image:
      sharp-repeating-linear-gradient( $angle, $stops...),
      sharp-repeating-linear-gradient(-$angle, $stops...);
    background-blend-mode: multiply;
}

/// @link http://bennettfeely.com/gradients/
/// @group blend-modes
/// @param {color} $background-color [lightgreen]
/// @param {color} $first-color [limegreen]
/// @param {color} $second-color [olivedrab]
/// @param {color} $third-color [green]
/// @param {length} $ring-width [4em]
@mixin vesica-pisces(
  $background-color: lightgreen,
  $first-color: limegreen,
  $second-color: olivedrab,
  $third-color: green,
  $ring-width: 4em
) {
    @if $first-color != limegreen {
      @if $second-color == olivedrab {
        $second-color: darken(adjust-hue(desaturate($first-color, 1%), -40deg), 15%);
      }
      @if $third-color == green {
        $third-color: darken(saturate($first-color, 39%), 25%);
      }
      @if $background-color == lightgreen {
        $background-color: lighten(saturate($first-color, 12%), 25%);
      }
    }
    background-image:
      repeating-radial-gradient(
        circle at 50% 25%,
        $first-color,
        $first-color $ring-width / 8,
        $tr $ring-width * .75,
        $tr $ring-width
      ),
      repeating-radial-gradient(
        circle at 25% 50%,
        $second-color,
        $second-color $ring-width / 8,
        $tr $ring-width * .5,
        $tr $ring-width
      ),
      repeating-radial-gradient(
        circle at 75% 50%,
        $third-color,
        $third-color $ring-width / 8,
        $tr $ring-width * .5,
        $tr $ring-width
      );
    background-color: $background-color;
    background-blend-mode: multiply;
}

/// @link http://bennettfeely.com/gradients/
/// @group blend-modes
/// @param {color} $first-color [cyan]
/// @param {color} $second-color [yellow]
/// @param {color} $third-color [magenta]
/// @param {length} $scale [6em]
@mixin light-machine(
  $first-color: cyan,
  $second-color: yellow,
  $third-color: magenta,
  $scale: 6em
) {
    $single-width: $scale / 3;
    $stops:
      $first-color,
      $second-color $single-width,
      $third-color  $single-width * 2,
      $first-color  $single-width * 3;
    background-image:
      repeating-radial-gradient(circle at top    left,  $stops...),
      repeating-radial-gradient(circle at bottom left,  $stops...),
      repeating-radial-gradient(circle at top    right, $stops...),
      repeating-radial-gradient(circle at bottom right, $stops...);
    background-blend-mode: multiply;
}

/// @link http://bennettfeely.com/gradients/
/// @group blend-modes
/// @param {color} $first-color [red]
/// @param {color} $second-color [lime]
/// @param {color} $third-color [yellow]
/// @param {color} $fourth-color [blue]
/// @param {color} $background-color [white]
/// @param {length} $scale [15em]
@mixin harness(
  $first-color: red,
  $second-color: lime,
  $third-color: yellow,
  $fourth-color: blue,
  $background-color: white,
  $scale: 15em
) {
    background-image:
      sharp-repeating-radial-gradient(
        circle at top left,
        $first-color $scale * 4 / 15,
        $tr $scale
      ),
      sharp-repeating-radial-gradient(
        circle at top right,
        $second-color $scale * 4 / 15,
        $tr $scale
      ),
      sharp-repeating-radial-gradient(
        circle at bottom right,
        $third-color $scale * 4 / 15,
        $tr $scale
      ),
      sharp-repeating-radial-gradient(
        circle at bottom left,
        $fourth-color $scale * 4 / 15,
        $tr $scale
      );
    background-color: $background-color;
    background-blend-mode: difference;
}

/// @link http://bennettfeely.com/gradients/
/// @group blend-modes
/// @param {color} $first-color [#f19181]
/// @param {color} $second-color [#3cbac8]
/// @param {color} $third-color [#f3f5c4]
/// @param {color} $fourth-color [#f9cb84]
/// @param {length} $horizontal-scale [6em]
/// @param {length} $horizontal-stripe-width [50%]
/// @param {length} $vertical-scale [$horizontal-scale (6em)]
/// @param {length} $vertical-stripe-width [50%]
/// @param {color} $cross-color [$first-color (#f19181)]
/// @param {length} $cross-scale [2 * $horizontal-scale (12em)]
/// @param {length} $first-cross-angle [45deg]
/// @param {length} $second-cross-angle [-45deg]
@mixin cross-multiply(
  $first-color: #f19181,
  $second-color: #3cbac8,
  $third-color: #f3f5c4,
  $fourth-color: #f9cb84,
  $background-color: white,
  $horizontal-scale: 6em,
  $horizontal-stripe-width: 50%,
  $vertical-scale: 6em,
  $vertical-stripe-width: 50%,
  $cross-color: #f19181,
  $cross-scale: 12em,
  $first-cross-angle: 45deg,
  $second-cross-angle: -45deg
) {
    @if $first-color != #f19181 {
      @if $cross-color == #f19181 {
        $cross-color: $first-color;
      }
    }
    @if $horizontal-scale != 6em {
      @if $vertical-scale == 6em {
        $vertical-scale: $horizontal-scale;
      }
      @if $cross-scale == 12em {
        $cross-scale: 2 * $horizontal-scale;
      }
    }

    background-image:
      sharp-repeating-linear-gradient(
        $third-color $vertical-scale * (1 - percent-to-decimal($vertical-stripe-width)),
        $first-color $vertical-scale
      ),
      sharp-repeating-linear-gradient(
        90deg,
        $fourth-color $horizontal-scale * (1 - percent-to-decimal($horizontal-stripe-width)),
        $second-color $horizontal-scale
      ),
      repeating-linear-gradient(
        $first-cross-angle,
        $tr 0,
        $tr $cross-scale / 2,
        $cross-color $cross-scale
      ),
      repeating-linear-gradient(
        $second-cross-angle,
        $tr 0,
        $tr $cross-scale / 2,
        $cross-color $cross-scale
      );
    background-blend-mode: multiply;
}

/// @link http://bennettfeely.com/gradients/
/// @group blend-modes
/// @param {color} $first-color [lightblue]
/// @param {color} $second-color [aquamarine]
/// @param {color} $third-color [khaki]
/// @param {color} $fourth-color [pink]
/// @param {color} $background-color [linen]
/// @param {length} $scale [5em]
/// @param {length} $ring-start [40%]
/// @param {length} $ring-width [10%]
@mixin flowa(
  $first-color: lightblue,
  $second-color: aquamarine,
  $third-color: khaki,
  $fourth-color: pink,
  $background-color: linen,
  $scale: 5em,
  $ring-start: 40%,
  $ring-width: 10%
) {
    $ring-start: percent-to-decimal($ring-start);
    $ring-end: $ring-start + percent-to-decimal($ring-width);
    $ring-width-dec: percent-to-decimal($ring-width);

    background-image:
      sharp-radial-gradient(
        $tr $scale * $ring-start,
        $first-color $scale * $ring-end,
        $tr
      ),
      sharp-radial-gradient(
        $tr $scale * $ring-start,
        $second-color $scale * $ring-end,
        $tr
      ),
      sharp-radial-gradient(
        $tr $scale * $ring-start,
        $third-color $scale * $ring-end,
        $tr
      ),
      sharp-radial-gradient(
        $tr $scale * $ring-start,
        $fourth-color $scale * $ring-end,
        $tr
      );
    background-color: $background-color;
    background-blend-mode: multiply;
    background-size: $scale $scale;
    background-position:
      0 $scale / 2,
      $scale / 2 0,
      $scale / 2 $scale / 2,
      0 0;
}

/// @group me
/// @param {color} $ring-color [gold]
/// @param {color} $line-color [black]
/// @param {color} $background-color [black]
/// @param {length} $scale [50px]
/// @param {length} $ring-width [30%]
/// @param {length} $line-width [5%]
@mixin band-weave(
  $ring-color: gold,
  $line-color: black,
  $background-color: black,
  $scale: 50px,
  $ring-width: 30%,
  $line-width: 5%,
) {
    $line-width: percent-to-decimal($line-width) * $scale;
    $ring-width: percent-to-decimal($ring-width) * $scale;
    $ring-end:   percent-to-decimal(103%       ) * $scale;
    $ring-start: $ring-end - $ring-width;
    $line-start: ($ring-width - $line-width) / 2 + $ring-start;
    $line-end: $line-start + $line-width;
    $stops:
      $tr $ring-start,
      $ring-color $line-start,
      $line-color $line-end,
      $ring-color $ring-end,
      $tr;

    background-image:
      sharp-radial-gradient(
        circle at 100% 135%,
        $stops...
      ),
      sharp-radial-gradient(
        circle at 0% 135%,
        $stops...
      ),
      sharp-radial-gradient(
        circle at 100% 95%,
        $stops...
      ),
      sharp-radial-gradient(
        circle at 0% 95%,
        $stops...
      ),
      sharp-radial-gradient(
        circle at 100% 95%,
        $stops...
      ),
      sharp-radial-gradient(
        circle at 0% 95%,
        $stops...
      );
    background-position:
      0 (-$scale * .8),
      0 (-$scale * .8),
      0 $scale,
      0 $scale,
      0 0,
      0 0;
    background-color: $background-color;
    background-size: $scale $scale * 2;
}

/// @link http://thenewcode.com/810/Web-Developer-Reading-List-SVG-Text
/// @param {color} $first-color [#ffb13b]
/// @param {color} $stroke-color [black]
/// @param {color} $background-color [white]
/// @param {length} $scale [145px]
/// @param {length} $size [30%]
/// @param {length} $line-thickness [26.6%]
/// @param {length} $dot-size [20%]
/// @param {length} $stroke-width [20%]
@mixin svg-logo(
  $first-color: #ffb13b,
  $stroke-color: black,
  $background-color: white,
  $scale: 145px,
  $size: 30%,
  $line-thickness: 26.6%,
  $dot-size: 20%,
  $stroke-width: 20%,
) {
    $size:           percent-to-decimal($size          );
    $line-thickness: percent-to-decimal($line-thickness) * $scale * $size;
    $dot-size:       percent-to-decimal($dot-size      ) * $scale * $size;
    $stroke-width:   percent-to-decimal($stroke-width  ) * $scale * $size;

    background-image:
      // top half dots
      sharp-radial-gradient(
        circle at $scale * (.5 - sin(45deg) * $size) $scale * (1 - cos(45deg) * $size),
        $first-color $dot-size,
        $tr
      ),
      sharp-radial-gradient(
        circle at $scale * (.5 + sin(45deg) * $size) $scale * (1 - cos(45deg) * $size),
        $first-color $dot-size,
        $tr
      ),
      sharp-radial-gradient(
        circle at $scale * (.5 - $size + $size / 15) 100%,
        $first-color $dot-size,
        $tr
      ),
      sharp-radial-gradient(
        circle at $scale * (.5 + $size - $size / 15) 100%,
        $first-color $dot-size,
        $tr
      ),
      sharp-radial-gradient(
        circle at 50% $scale * (1 - $size),
        $first-color $dot-size,
        $tr
      ),
      // top half strokes
      sharp-radial-gradient(
        circle at 100% $scale * (1 - cos(45deg) * $size),
        $tr $dot-size,
        $stroke-color $dot-size + $stroke-width,
        $tr
      ),
      sharp-radial-gradient(
        circle at $scale * (.5 - sin(45deg) * $size) 100%,
        $tr $dot-size,
        $stroke-color $dot-size + $stroke-width,
        $tr
      ),
      sharp-radial-gradient(
        circle at 0% $scale * (1 - cos(45deg) * $size),
        $tr $dot-size,
        $stroke-color $dot-size + $stroke-width,
        $tr
      ),
      sharp-radial-gradient(
        circle at $scale * (.5 + sin(45deg) * $size) 100%,
        $tr $dot-size,
        $stroke-color $dot-size + $stroke-width,
        $tr
      ),
      sharp-radial-gradient(
        circle at 100% 100%,
        $tr $dot-size,
        $stroke-color $dot-size + $stroke-width,
        $tr
      ),
      sharp-radial-gradient(
        circle at 0% 100%,
        $tr $dot-size,
        $stroke-color $dot-size + $stroke-width,
        $tr
      ),
      sharp-radial-gradient(
        circle at 50% 97%,
        $tr $dot-size,
        $stroke-color $dot-size + $stroke-width,
        $tr
      ),
      // sharp-radial-gradient(
      //   circle at $scale * (.5 - sin(45deg) * $size) $scale * (1 - cos(45deg) * $size),
      //   $stroke-color $dot-size + $stroke-width,
      //   $tr
      // ),
      // sharp-radial-gradient(
      //   circle at $scale * (.5 + sin(45deg) * $size) $scale * (1 - cos(45deg) * $size),
      //   $stroke-color $dot-size + $stroke-width,
      //   $tr
      // ),
      // sharp-radial-gradient(
      //   circle at $scale * (.5 - $size + .02) 100%,
      //   $stroke-color $dot-size + $stroke-width,
      //   $tr
      // ),
      // sharp-radial-gradient(
      //   circle at $scale * (.5 + $size - .02) 100%,
      //   $stroke-color $dot-size + $stroke-width,
      //   $tr
      // ),
      // sharp-radial-gradient(
      //   circle at 50% $scale * (1 - $size),
      //   $stroke-color $dot-size + $stroke-width,
      //   $tr
      // ),
      // top half cutoff
      sharp-radial-gradient(
        circle at 50% 100%,
        $tr $scale * $size,
        $background-color
      ),
      // top half lines
      sharp-linear-gradient(
        0deg,
        $first-color $line-thickness * .125 + $line-thickness / 2,
        $tr
      ),
      sharp-linear-gradient(
        -45deg,
        $tr          $scale * .35 - $line-thickness / 2,
        $first-color $scale * .35 + $line-thickness / 2,
        $tr
      ),
      sharp-linear-gradient(
        90deg,
        $tr          $scale * .5 - $line-thickness / 2,
        $first-color $scale * .5 + $line-thickness / 2,
        $tr
      ),
      sharp-linear-gradient(
        45deg,
        $tr          $scale * .35 - $line-thickness / 2,
        $first-color $scale * .35 + $line-thickness / 2,
        $tr
      ),
      // top half stroke circle
      sharp-radial-gradient(
        circle at 50% 100%,
        $stroke-color $scale * $size,
        $tr
      );
    background-position:
      0 0,
      0 0,
      0 0,
      0 0,
      0 0,
      $scale * (.5 - sin(45deg) * $size) - $scale 0,
      0 $scale * (1 - cos(45deg) * $size),
      $scale * (.5 + sin(45deg) * $size) - $scale 0,
      0 $scale * (1 - cos(45deg) * $size),
      $scale * (.5 - $size + .02) 0,
      $scale * (.5 + $size - .02) 0,
      0 $scale * (1 - $size + .03),
      0 0,
      0 0,
      0 0,
      0 0,
      0 0,
      0 0;
    background-color: $background-color;
    background-size: $scale $scale;
}

/// @link http://bennettfeely.com/gradients/
/// @group blend-modes
/// @param {color} $first-color [yellow]
/// @param {color} $second-color [cyan]
/// @param {color} $third-color [magenta]
/// @param {color} $background-color [floralwhite]
/// @param {length} $scale [8em]
/// @param {length} $small-dot-size [40%]
/// @param {length} $medium-dot-size [50%]
/// @param {length} $large-dot-size [50%]
@mixin dotsy(
  $first-color: yellow,
  $second-color: cyan,
  $third-color: magenta,
  $background-color: floralwhite,
  $scale: 8em,
  $small-dot-size: 40%,
  $medium-dot-size: 50%,
  $large-dot-size: 50%
) {
    background-image:
      sharp-radial-gradient(
        $first-color $large-dot-size,
        $tr
      ),
      sharp-radial-gradient(
        $second-color $medium-dot-size,
        $tr
      ),
      sharp-radial-gradient(
        $third-color $small-dot-size,
        $tr
      );
    background-color: $background-color;
    background-blend-mode: multiply;
    background-size:
      $scale $scale,
      $scale * .75 $scale * .75,
      $scale * .25 $scale * .25;
    background-position:
      0 0,
      -33% -33%,
      -200% -200%;
}

/// @link http://bennettfeely.com/gradients/
/// @group blend-modes
/// @param {color} $first-color [#dc143c]
/// @param {color} $second-color [#3cb371]
/// @param {color} $background-color [linen]
/// @param {length} $scale [40px]
/// @param {length} $ring-start [50%]
/// @param {length} $ring-width [12.5%]
@mixin ring-pairs(
  $first-color: #dc143c,
  $second-color: #3cb371,
  $background-color: linen,
  $scale: 40px,
  $ring-start: 50%,
  $ring-width: 12.5%,
) {
    $ring-start: percent-to-decimal($ring-start) * $scale;
    $ring-width: percent-to-decimal($ring-width) * $scale;
    $ring-end: $ring-start + $ring-width;
    background-image:
      sharp-radial-gradient(
        $tr $ring-start,
        $first-color $ring-end,
        $tr
      ),
      sharp-radial-gradient(
        $tr $ring-start,
        $first-color $ring-end,
        $tr
      ),
      sharp-radial-gradient(
        $tr $ring-start,
        $second-color $ring-end,
        $tr
      ),
      sharp-radial-gradient(
        $tr $ring-start,
        $second-color $ring-end,
        $tr
      );
    background-color: $background-color;
    background-blend-mode: multiply;
    background-size: $scale * 2 $scale * 2;
    background-position:
      $scale $scale,
      $scale 0,
      0 0,
      0 $scale;
}

/// @link http://bennettfeely.com/gradients/
/// @group blend-modes
/// @param {color} $first-color [limegreen]
/// @param {color} $second-color [skyblue]
/// @param {color} $third-color [coral]
/// @param {direction} $first-angle [180deg]
/// @param {direction} $second-angle [90deg]
/// @param {direction} $third-angle [-90deg]
@mixin tri-fade(
  $first-color: limegreen,
  $second-color: skyblue,
  $third-color: coral,
  $first-angle: 180deg,
  $second-angle: 90deg,
  $third-angle: -90deg,
) {
    background-image:
      linear-gradient(
        $first-angle,
        $first-color,
        $tr
      ),
      linear-gradient(
        $second-angle,
        $second-color,
        $tr
      ),
      linear-gradient(
        $third-angle,
        $third-color,
        $tr
      );
    background-blend-mode: screen;
}
